*{
    padding: 0;
    margin: 0;
    border: 0;
}
.cf:before,.cf:after{
    content:'';
    display: block;
}
 .cf:after{
    clear:both;
}
a{text-decoration: none;}
ul li{list-style: none;}
body{font-family: "微软雅黑","黑体","宋体",Helvetica,Arial;}
.container{
    width: 100%;   
    min-width: 1200px;
    background-color: #000;
}
header{
    width: 100%;
    /* min-width: 1200px; */
}
.header-top{
    width: 100%;
    height: 54px;   
    background-color: #000;
    border-bottom: 2px solid #262626;
    position: fixed;
    z-index: 10;
    min-width: 1200px;
}
.header-top>div{
    float: left;
}
.header-top .menu{
    /* 115 */
    width: 7%;
    height: 41px;
    /* position: relative; */
    cursor:pointer;
    padding-top: 13px;
    border-right:2px solid #262626;
}
.header-top .menu>div{
    width: 32px;
    height: 6px;
    margin: 0 auto;
    background-color: #888;
    border-radius:3px;
    margin-bottom: 5px;
}
.logo {
    width: 150px;
    text-indent: -2000px;
    /* 750/1879 */
    margin-left:37% ;
    /* 452  */
    margin-right: 20%;
 }
.logo h1 {
    display:block;
    height: 54px;
    /* margin-top: 7px; */
    background: url(../images/index/logo.png) no-repeat center;
    background-size: 90%;
}
.shopping-cart a{
    display: block;
    width: 50px;
    
    padding:0 42px;
    height: 54px;
    background: url(../images/index/icon-car.png) no-repeat center;
    background-size: 40%;
    margin-top: 0px;
    border-left: 2px solid #262626;
    border-right: 2px solid #262626;
    transition: all .3s;
}
.shopping-cart a:hover{
    background:url(../images/index/icon-car-hover.png) no-repeat center;
    background-size: 40%;
}
.login {
    font-size: 14px;
    
    line-height: 54px;
    margin-left: 82px;
}
.login a{
    color:#707476;
    transition:color .1s;
}
.login a:hover{
        color:#c5a28b;
}
.banner{
    width: 100%;
    /* min-width: 1200px; */
    padding-top: 54px;
}
.swiper-container {
    width: 100%;
  
}
.swiper-container img {
    width: 100%; 
    display: block;
}
.banner .swiper-pagination{
    text-align: left;
}
.banner .swiper-pagination-bullet {
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 24px;
    color:#888;
    opacity:1;
    background: transparent;
}
.banner .swiper-container-horizontal>.swiper-pagination-bullets{
    left:50px;
    bottom: 40px;
}
.banner .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
}
.banner .swiper-pagination-bullet-active {
    width: 42px ;
    font-size: 36px ;
    /* line-height: 17px ; */
    color: #c5a28b ;
}
.banner .swiper-button-prev,.banner .swiper-button-next{
    width: 68px;
    height: 68px;
    position: absolute;
    left:100%;
    top:100%;
    background: url(../images/index/page.png);    
    top: 100% ;
    margin-top: -88px;
    left: 100% ;    
    transition:all .3s;
}
.banner .swiper-button-prev{
    background-position: 0 0 ;
    margin-left: -195px;
}
.banner .swiper-button-next{
    background-position: 68px 0;
    left:auto;
    right: 50px;
}
.banner .swiper-button-prev:after,.banner .swiper-button-next:after{
    content:''
}
.banner .swiper-button-prev:hover{
    background:url(../images/index/page-hover.png);
    background-position: 0 0 ;
}
.banner .swiper-button-next:hover{
    background:url(../images/index/page-hover.png);
    background-position: 68px 0 ;
}
.nav-tab{
    width: 100%;
    /* min-width: 1200px; */
    background-color: #000;
    text-align: center;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
}
.nav-tab ul li{
    list-style: none;
    float: left;
    width: 16.6666%;
}
.nav-tab ul li a{
    display: block;
  
}
.nav-tab img{
    width: 70px;
    height: 70px;
    margin-top: 15px;
    transition:transform .6s;
}
.nav-tab span{
    display:block;
    font-size: 16px;
    color:#888;
    margin-top: 4px;
    margin-bottom: 24px;
    transition: color .6s;
}
.nav-tab ul li a:hover span{
color:#c5a28b;
}
.nav-tab li .change{
    transform:scale(1.1)
}
.section{
    width: 100%;
}
.main-shop{
    width: 100%;
    min-width:1200px;
    padding-top: 8px;
  text-align: center;
}
.main-shop>div{
    width: 25%;
    float: left;
    box-sizing: border-box;
    border-right: 8px solid #000;
    background-color: #131313;
    position: relative;
    margin-bottom: 8px;
    
}
.main-shop>div:nth-child(4n){
    border-right: 0;
}
.main-shop>div a{
    display: block;
    width: 100%;
padding-top: 77px;
    padding-bottom: 50px;
    transition: box-shadow .5s;
}
.main-shop .circle{
    width: 230px;
    height:230px;
    background-color: #262626;
    margin: 0 auto;
    border-radius: 50%;
}
.main-shop img{
    width: 100%;
display: block;
    position: absolute;
    top:35px;
    left:0;
    transition:transform .5s;
}
.main-shop .line{

    width: 120px;
    height: 4px;
    background-color: #c5a28b;
    margin: 56px auto 30px;
}
.main-shop p{
    font-size: 16px;
    color:#888;
    margin-bottom: 60px;
}
.main-shop span{
    font-size: 25px;
    color:#c5a28b;

}
.main-shop .active p{
margin-bottom: 30px;
}
.main-shop button,.new-shop button
{
   padding: 3px 12px;
    border-radius: 15px;
    border: 2px solid #c5a28b;
    font-size: 16px;
    color:#c5a28b;
    background-color: transparent;
}
.main-shop i{
    font-style: normal;
    display: block;
    margin-top: 18px;
    margin-bottom: 0;
    color:#666;
    font-size: 12px;
    text-decoration:line-through;
}
.main-shop .active{
    padding-bottom: 14px;
}
.main-shop a:hover,.new-shop a:hover,.learn-about:hover{
    box-shadow:  0px 0px 38px rgba(0,0,0,0.8) inset;
}
.main-shop a:hover img{
    transform:scale(0.9)
}
.new-shop{
    width: 100%;

}
.new-shop>img{
    width: 100%;
    display: block;
}
.new-shop ul li{
    float: left;
    width: 33.3333%;
    margin-top: 8px;
}
.new-shop ul li:nth-child(3n) a{
    border-right:0;
}
.new-shop ul li a{
    display: block;
    box-sizing: border-box;
    border-right: 8px solid #000;
    position: relative;
    background-color: #131313;
    transition: box-shadow .5s;
}
.new-shop .circle{
    width: 180px;
    float: right;
    height: 180px;
    border-radius: 50%;
margin: 40px 46px 40px 0;

background-color: #262626;
}
.new-shop a img{
    display: block;
    width:58%;
    position: absolute;
    top:5px;
    right:10px;
    transition: transform .5s;
}
.new-shop a>div:first-child{
    float: left;
    width: 45%;
    text-align: center;
}
.new-shop p{
   font-size: 22px;
   color:#888;
   margin-top: 87px;
   margin-bottom: 14px;  
}
.new-shop button{font-size: 14px;}
.new-shop a:hover img{
    transform: scale(0.9);
}
.learn-about{width: 100%;background-color: #131313;margin-top: 8px;transition:box-shadow .5s;}
.learn-about .inner{
    width: 1200px;
    margin: 0 auto;
   
}
.inner a>div{
    float: left;
    /* 252/1879 */
    
}
.inner .left{
    width: 13.4114%;
    margin-right: 70px;
margin-left: 170px;
padding: 40px 0;
}
.inner .right{
    width:60%;
    padding: 40px 0;
   
}
.inner .left>img{
    width: 115%;
    transition:transform .5s;
}
.inner p{
    color:#888;
    font-size: 16px;
}
.inner p:first-child{
    color:#c5a28b;
    font-size: 25px;
    margin-bottom: 12px;
}
.inner p:last-child{
   margin-top: 68px;
 
   background: url(../images/index/applecare-icon.png) no-repeat 12% center;
}
.inner a:hover img{
    transform:scale(0.9)
}
footer{width: 100%;border-bottom: 2px solid #262626;margin-top: 8px;border-top: 2px solid #262626;}
footer div{
    width: 12%;
    float: left;
    margin-top: 11px;
    margin-left: 37px;
}
footer div img{
    width: 100%;
}
footer p{
    float: left;
    /* 345px/1879 */
    margin-left:5%;
    /* 60 */
    padding-right: 5%;
    color:#666;
    font-size:12px;
    line-height:16px;
    padding-top: 20px;
    height: 49px;
    border-right:2px solid #262626;
}
footer a{
    display: block;
    float:right;
    text-align: center;
    width: 16%;
    font-size: 16px;
    color:#888;
    line-height: 69px;
    border-left: 2px solid #262626;
    /* background: url(../images/index/icon-top.png) no-repeat center 40%; */
    background-size: 8%;
    transition: color .3s;
    position: relative;
}
footer span{
    display: block;
    width:16px;
    height:6px;
    background:url(../images/index/icon-top.png) no-repeat ;
    background-size: contain;
    position: absolute;
    top:37%;
    left:45%;
}
footer a:hover{
    color:#c5a28b;
}
.footer a.active{
   top:25%;
}







